<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en"> <head>
<title>Appointments</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css"
     href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"
/>


<link rel="stylesheet" type="text/css"
    href="/static/css/busy.css"
/>

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">

<!-- jquery from a content distribution network; probably cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>


<!-- Ideally the rest of our javascript dependencies would be
     bundled and minified with 'browserify', but I've found that
     it difficult to handle browserify dependencies for class
     projects.  So, we'll pick up moment and a date range picker
     from CDNs instead.
-->

<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />


</head>

<body>
<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
<div class="container">

{% if session.radio_choice is not defined  %}
<h1>Almost Done</h1><br>
<p>Click below to send an email with your free times to a friend</p>
<a href="mailto:{%if session.recipient is defined %}{{session.recipient_email}}{% endif %}?subject=Let's Make a Meeting!&body=Hey {%if session.recipient is defined %}{{session.recipient}}{% endif %},%0D%0A%0D%0AIf you follow the link below and fill out the form we can find out when we're free to make a meeting!%0D%0A%0D%0Ahttp://localhost:5000/recieved/{%if session.recipient_id is defined %}{{session.recipient_id}}{% endif %} %0D%0A%0D%0ABest,%0D%0A%0D%0A{%if session.sender is defined %}{{session.sender}}{% endif %}">Send Email</a>
<p>We'll notify you of your meeting time when {%if session.recipient is defined %}{{session.recipient}}{% endif %} responds to your meeting invitation.</p>
{% endif %}
{% if session.radio_choice is defined  %}
<h1>It's Decided</h1><br>
<p>Click below to send a confirmation email to {%if session.sender is defined %}{{session.sender}}{% endif %} that you're going to meet:</p>
<h4>
{{session.radio_choice.day | fmtdate}}
</h4>
<li>{{session.radio_choice.start}} - {{session.radio_choice.end}}</li></br>
<a href="mailto:{%if session.sender_email is defined %}{{session.sender_email}}{% endif %}?subject=Let's Meeting Confirmation &body=Hey {%if session.sender is defined %}{{session.sender}}{% endif %},%0D%0A%0D%0ALet's meet up some time between {{session.radio_choice.start}} and {{session.radio_choice.end}} on {{session.radio_choice.day | fmtdate}}!%0D%0A%0D%0ABest,%0D%0A%0D%0A{%if session.recipient is defined %}{{session.recipient}}{% endif %}">Send Email</a>
{% endif %}

<!--
  -- If there are any warnings or other messages from a prior action,
  -- they appear above the rest of the content, just until the next
  -- action.
  -->

<script>
function getTimes(){
  var begin_value = $('input[name="begin_time"]').val();
  var end_value = $('input[name="end_time"]').val();
  $.getJSON('/_end_time_set', { end_value: end_value});
  $.getJSON('/_begin_time_set', { begin_value: begin_value});
}
function remove(cb){
  if(cb.checked == true){
  //console.log(cb.value);
    add_primary(cb.value);
 }else{
   //console.log(cb.value);
   remove_primary(cb.value);
 }
}

function choose_free(rb){
  if(rb.checked == true){
  //console.log(cb.value);
    add_free(rb.value);
 }else{
   //console.log(cb.value);
   remove_free(rb.value);
 }
}

function add_primary(id) {
   $.getJSON('/_add_primary', { id: id});
 }
 function remove_primary(id) {
    $.getJSON('/_remove_primary', { id: id});
  }
 function add_free(free) {
    $.getJSON('/_add_free', { free: free});
  }
function remove_free(free) {
   $.getJSON('/_remove_free', { free: free});
 }
 function create_entry() {
    $.getJSON('/_create_entry');
    loadPage();
  }
 function loadPage() {
  location.href = "list_chosen";
}
</script>
  </div>  <!-- container (for bootstrap) -->
  </body> </html>
